body {
    /* background-color: red;  check that files are linked*/ 
    font-family: sans-serif;
    text-align: center;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, 2fr) ;
    /* added border to check element/placeholder location */
    border: 2px solid black; 
}

#container > div {
    padding: 2%;
    margin: 2%;
}


#clickPlayer {
    align-items: center;
    border: 2px solid black;
}


#leadPlayer {
    border: 2px solid black;
}

