body {
    /* background-color: red;  check that files are linked*/ 
    font-family: sans-serif;
    text-align: center;
}


#container {
    display: grid;
    /* border: 2px solid black; added border to check element/placeholder location */
    grid-template-columns: 3 2fr
    
}

#container > div {
    padding: 2%;
    margin: 2%;
}

#playerOne {
    grid-column: 
    grid-row: 
}

#playerTwo {
    grid-column: 3;
    grid-row: 
}

#clickPlayer {
    grid-column: 
    grid-row: 
}

#leadPlayer {
    grid-column: 
    grid-row: 
}

